<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Q&A{% endblock %}</title>
</head>
<body>
    <h1>Questions and Answers!</h1>
    <nav class="navigarion">
        <div>
            <span class="navigation-item">
                <a href="/">new</a>
            </span>
            <span class="navigation-item">
                <a href="/popular/">popular</a>
            </span>
            <span class="navigation-item">
                <a href="/ask/">ask!</a>
            </span>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>