<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--link rel="stylesheet" href="/css/styles.css"-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

    <title>{% block title %}Q&A{% endblock %}</title>
</head>
<body>
    
    <nav class="navbar navbar-fixed-top navbar-light navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Q&A</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">          
                <ul class="nav navbar-nav">
                    <li class="navbar-item"><a class="nav-link" href="/">new</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/popular/">popular</a></li>
                </ul>
                <ul class="nav navbar-nav pull-rigth">
                    <li class="navbar-item"><a class="pull-right btn btn-sm btn-outline-success navbar-btn" href="#">log in</a></li>
                    <li class="navbar-item"><div class="btn btn-sm btn-success navbar-btn"style="margin-left:10px">sign up</div></li>
                    <li class="navbar-item"><a class="btn btn-sm btn-success navbar-btn"style="margin-left:10px" href="/ask/">ask!</a></li>
                </ul>
                
                
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-pull-9 d-none d-sm-block" style="background-color: #99ccff">
                
                <div style="margin-top:20px">
                    <h6>Categories:</h6>
                    <span class="badge badge-secondary">Science</span>
                    <span class="badge badge-secondary">Vegan</span>
                    <span class="badge badge-secondary">Ecology</span>
                    <span class="badge badge-secondary">Politics</span>
                    <span class="badge badge-secondary">Prgogramming</span>
                    <span class="badge badge-secondary">Health</span>
                    <span class="badge badge-secondary">Food</span>
                    <span class="badge badge-secondary">Bdsm</span>
                    <span class="badge badge-secondary">Technologies</span>
                    <span class="badge badge-secondary">Music</span>
                    <span class="badge badge-secondary">Other</span>
                    <span class="badge badge-secondary">Lifestyle</span>
                    <span class="badge badge-secondary">Study</span>
                    <span class="badge badge-secondary">Lgbt</span>
                    <span class="badge badge-secondary">Www</span>
                    <span class="badge badge-secondary">Pregnancy</span>
                    <span class="badge badge-secondary">Games</span>
                    <span class="badge badge-secondary">Animal rights</span>
                    <span class="badge badge-secondary">Education</span>
                    <span class="badge badge-secondary">News</span>
                    <span class="badge badge-secondary">Entertainment</span>
                </div>
                
                <div style="margin-top:20px">
                    <h6>Tags:</h6>
                    <span class="badge">#python</span>
                    <span class="badge">#django</span>
                    <span class="badge">#mysql</span>
                    <span class="badge">#gunicorn</span>
                    <span class="badge">#linux</span>
                    <span class="badge">#nginx</span>
                    <span class="badge">#bootstrap</span>
                    <span class="badge">#css</span>
                    <span class="badge">#html</span>
                    <span class="badge">#toomanyhashtags</span>
                    <span class="badge">#web</span>
                    <span class="badge">#apple</span>
                    <span class="badge">#summer</span>
                    <span class="badge">#fun</span>
                    <span class="badge">#success</span>
                    <span class="badge">#architecture</span>
                    <span class="badge">#school</span>
                    <span class="badge">#keyboard</span>
                    <span class="badge">#chair</span>
                    <span class="badge">#mouse</span>
                    <span class="badge">#vegan</span>
                    <span class="badge">#nature</span>
                    <span class="badge">#animalrights</span>
                    <span class="badge">#freedom</span>
                    <span class="badge">#pride</span>
                </div>
            </div>
            <div class="col-md-9 col-xs-pull-3" style="background-color: #d2d5d8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>
</html>