<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--link rel="stylesheet" href="/css/styles.css"-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

    <title>{% block title %}Q&A{% endblock %}</title>
</head>
<body style="background-color: #c2cad0 !important">
    
    <nav class="navbar navbar-fixed-top navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Q&A</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">          
                <ul class="nav navbar-nav">
                    <li class="navbar-item"><a class="nav-link" href="/">new</a></li>
                    <li class="navbar-item"><a class="nav-link" href="/popular/">popular</a></li>
                    
                </ul>
                <div class="navbar-item my-2 mx-md-2"><a class="btn btn-sm btn-success navbar-btn" href="/ask/">ask!</a></div>
                <ul class="nav navbar-nav ml-auto">
                    {% if not user.is_authenticated %}
                        <li class="navbar-item my-2 mx-md-2"><a class="btn btn-sm btn-outline-success navbar-btn" href="/login/">log in</a></li>
                        <li class="navbar-item my-2 mx-md-2"><a class="btn btn-sm btn-success navbar-btn" href="/signup/">sign up</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="navbar-item my-2 mx-md-2"><a class="btn btn-sm btn-link navbar-btn" href="/profile/{{ user.username }}">my profile</a></li>
                        <li class="navbar-item my-2 mx-md-2"><a class="btn btn-sm btn-success navbar-btn" href="/logout/">log out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-pull-9 d-none d-sm-block" style="background-color: #99ccff">
                <!--Categories and tags-->
            </div>
            <div class="col-md-9 col-xs-pull-3" style="background-color: #d2d5d8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>
</html>