{% extends "base.html" %}
{% block title %}
    {{ block.super }} - Question
{% endblock %}
{% block content %}
    <div class="container" style="padding-top: 20px">
        <div class="media">
                <img src="/img/no-avatar.png" class="align-self-start mr-3 img-thumbnail" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ question}}</h5>
                    <a href="/profile/{{ question.author }}"><div class="text-muted">@{{ question.author }}</div></a>
                    {{ question.text }}<br>

                    <button class="btn btn-link" id="like" {% if user.is_authenticated %} onclick="like()" {% endif %}>
                        Like {{ question.likes.count }}
                    </button> <!--TODO add redirect for unathenticated users -->

                </div>
        </div>
        <div class="question-answers">
            <h6><muted>Answers</muted></h6>
            {% for e in form.non_field_errors %}
                <div class="alert alert-danger">{{ e }}</div>
            {% endfor %}
            <form autocomplete="off" method="post">
                <fieldset>
                    {% csrf_token %}
                    <div class="control-group 
                    {% if field.errors %}has-error{% endif %}">
                        <div class="form-group">
                            <!--<label class="control-label">{{ form.text.label }}</label>-->
                            <div class="controls">{{ form.question }}{{ form.text }}</div>
                        </div>
                    </div>
                    
                </fieldset>
                <div class="form-actions">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span> Submit
                        </button>
                    </div>
                </div>
            </form>
            <hr>    
            <ul class="list-unstyled">        
                {% for answer in answers %}
                    <li class="media">
                        <img src="/img/no-avatar.png" class="align-self-start mr-3 img-thumbnail" alt="...">
                        <div class="media-body">
                            <a href="/profile/{{ answer.author }}">
                                <div class="mt-0 mb-1 text-muted">@{{ answer.author }}</div>
                            </a>
                            {{ answer.text }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- TODO rewrite it-->
    <script>
        var likes = {{ question.likes.count }};
        function like(){
            var xhr = new XMLHttpRequest();
            xhr.open('POST', window.location.href + 'like/', true)
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
            xhr.send(JSON.stringify({}));
            xhr.onreadystatechange = function(){
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        document.getElementById("like").innerText="Like " +xhr.responseText;
                    }
                }
            }

        }
    </script>
{% endblock %}

